
  .action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .test1{
    background-color: rgb(114, 253, 0);
  }

  .button{
    background-color: rgb(0, 252, 252);
  }
  
  .assignment-list-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .assignment-table-row {
  transition: background-color 0.3s ease;
}

.assignment-table-cell input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}